<div class="card">
    <div class="card-header">Product edition</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4 text-center">
                <label for="image">
                    <img ng-src="{{'/assets/images/' + form.image}}" style="width: 100%; height: 200px">
                </label>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div>Name</div>
                        <input ng-model="form.name" class="form-control" id="image"
                               onchange="angular.element(this).scope().imageChanged(this.files)">
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Price</div>
                        <input ng-model="form.price" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div>Image</div>
                        <input type="file" class="form-control" id="image">
                    </div>
                    <div class="form-group col-sm-6 mt-4">
                        <select ng-model="form.category.id" class="form-control">
                            <option ng-repeat="c in cates" ng-value="c.id">{{c.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div>Create Date</div>
                        <input ng-model="form.createDate" type="date" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Available?</div>
                        <div class="form-control">
                            <label class="radio-inline">
                                <input ng-model="form.available" type="radio" ng-value="true" name="available">YES
                            </label>
                            <label class="radio-inline">
                                <input ng-model="form.available" type="radio" ng-value="false" name="available">NO
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button ng-click="create()" class="btn btn-success">
            <b class="bi bi-plus">Create</b>
        </button>
        <button ng-click="update()" class="btn btn-success">
            <b class="bi bi-save">Update</b>
        </button>
        <button ng-click="delete(form)" class="btn btn-success">
            <b class="bi bi-trash">Delete</b>
        </button>
        <button ng-click="reset()" class="btn btn-success">
            <b class="bi bi-refresh">Reset</b>
        </button>
    </div>
</div>