<div class="card">
    <div class="card-header">Product list</div>
    <table class="table table-bordered">
        <thead class="bg-success" style="font-variant: small-caps;">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Date</th>
                <th>Image</th>
                <th>Category</th>
                <th>Available?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price | number : 2}}</td>
                <td>{{item.createDate | date : 'dd-MM-yyyy'}}</td>
                <td>{{item.image}}</td>
                <td>{{item.category.name}}</td>
                <td>{{item.available ? 'YES' : 'NO'}}</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button ng-click="edit(item)" class="btn btn-warning bi bi-brush-fill"></button>
                        <button ng-click="delete(item)" class="btn btn-danger bi bi-trash"></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class=" text-center">
        <button mg-click="pager.first()" class="btn btn-danger">
            <b class="bi bi-arrow-up"></b>
        </button>
        <button ng-click="pager.prev()" class="btn btn-danger">
            <b class="bi bi-arrow-left"></b>
        </button>
        <button class="btn btn-success">{{pager.page +1}} of {{pager.count}}</button>
        <button ng-click="pager.next()" class="btn btn-danger">
            <b class="bi bi-arrow-right"></b>
        </button>
        <button ng-click="pager.last()" class="btn btn-danger">
            <b class="bi bi-arrow-down"></b>
        </button>

    </div>
</div>